#header-space.mini-board {
  height: 10rem;
}

#header-space.maxi-board {
  height: 0;
}

#chess-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#chessboard {
  width: 12rem;
}

#chessboard.mini-board {
  width: 12rem;
}

#chessboard.maxi-board {
  width: 32rem;
}

div.board-b72b1 {
  border: 2px solid transparent;
  box-sizing: content-box;
  transition: 400ms;
}

div.board-b72b1.mini-board:hover {
  border-color: #c678dd;
  cursor: pointer;
}

.board-sides {
  width: 20rem;
}

.board-sides.mini-board {
  display: none;
}

.board-sides.maxi-board {
  display: initial;
}

#minimise-cross {
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font-size: 2rem;
  transition: 400ms;
}

#board-controls {
  padding: 1rem;
}

#board-controls b {
  transition: 400ms;
}

#board-controls b:hover, #board-controls a:hover {
  color: #c678dd;
  cursor: pointer;
}

div.white-1e1d7 {
  background-color: #abb2bf;
  color: #1d2026;
}

div.black-3c85d {
  background-color: #1d2026;
  color: #abb2bf;
}

div.square-55d63 {
  transition: 200ms;
}

div.highlight1-32417, div.highlight2-9c5d2 {
  box-shadow: inset 0 0 3px 3px #c678dd;
}